@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,400|Roboto:300,300i,400,900');
* {
    box-sizing: border-box;
    font: 300 14px 'Roboto', sans-serif;
}
body {
    margin: 0;
    background-color: #fff;
    width: 100%;
    overflow-x: hidden;
}
.b-header {
    background-color: #1e1c1e;
    height: 763px;
}
.b-wrapper {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 0 auto;
     width: 779px;
 }
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 122px;
    padding: 46px 10px 0 0;
    width: 100%;
}
.b-header .link {
    margin-left: 10px;
    display: flex;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.menu-list {
    display: flex;
    align-self: flex-end;
    list-style: none;
    margin: 0;
}
.menu-list_item:not(last-child){
    margin-right: 10px;
    font-size: 15px;
    text-transform: uppercase;
}
.menu-list_item>a {
    text-decoration: none;
    color: #fff;
    margin: 0;
}
.timer-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius:10px;
    border: 2px solid #90d23d;
    width: 95%;
    height: 5%;
    margin: 0 auto;
    position: relative;
}
.timer-wrap_clock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.clock__item_day,
.clock__item_hour,
.clock__item_min,
.clock__item_sec,
.column {
    display: flex;
    align-self: center;
    padding:5px;
}
.clock__item_day.day,
.clock__item_hour.hour,
.clock__item_min.min,
.clock__item_sec.sec,
.column {
    margin:0;
    color: #fff;
    font: 400 7rem/8rem "Roboto Slab", serif;
  }
  .column {
      margin-left: 0.09em;
}
.clock__item_sec {
    display: flex;
    align-self: flex-start;
}
  .clock__item {
      color: #fff;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      font: 400 1rem "Roboto Slab", serif;
}
.par.day,
.par.hour,
.par.min,
.par.sec {
    margin: 0 30px 0 0;
    font: 400 2rem "Roboto Slab", serif;
    text-transform: uppercase;
}
.b-main {
    position: relative;
}
.block-form fieldset {
    display: block;
    width: 431px;
    height: 530px;
    position: absolute;
    top: 0;
    left: 60%;
    box-shadow: 0 1px 2px rgba(35, 31, 32, 0.65);
    border-left: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    background-color: #fff;
}
.block-form h3 {
    color: #252525;
    font: 700 30px 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}
fieldset>input {
    width: 371px;
    height: 54px;
    border-radius: 5px;
    border: 1px solid #90d23d;
    margin-bottom: 19px;
    padding-left: 14px;
}
fieldset>input:hover{
    border: 1px solid #90d23d;
    box-shadow: 0 0 2px 1px #7cb536;
    outline: #7cb536;
}
fieldset>input:focus{
    border: 1px solid #90d23d;
    box-shadow: 0 0 2px 1px #7cb536;
    outline: #7cb536;
}
.block-form>input:valid {
    box-shadow: 0 0 4px 2px  #7cb536;
    outline-color:  #7cb536;
}
.block-form>input:invalid {
    box-shadow: 0 0 4px 2px #e20b0b;
    outline-color: #f74040;
    border: none;
}
fieldset>input:last-of-type {
    margin-top: 39px;
    background-color: #90d23d;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
fieldset>input:not([type='submit']):-ms-input-placeholder{
    color: #bebebe;
    font-size: 19px;
    font-weight: 300;
}
fieldset>input:not([type='submit'])::-webkit-input-placeholder{
    color: #bebebe;
    font-size: 19px;
    font-weight: 300;
}
fieldset>input:not([type='submit']):hover :-ms-input-placeholder{
    color: #6c6c6c;
}
fieldset>input:not([type='submit']):hover::-webkit-input-placeholder {
    color: #6c6c6c;
}
.block-presentation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.block-presentation h1 {
    color: #242424;
    font-size: 50px;
    font-weight: 900;
    margin: 55px 0 26px
}
.block-presentation_para {
    width: 527px;
    margin-top: 0;
}
.services-list__ordered {
    list-style: none;
    display: flex;
    justify-content: center;
}
.services-list__ordered_list-item>h2 {
    color: #242424;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    position: relative;
}
.list-item__one::before{
    content: '';
    background-image: url("../img/png/par-1.png");
    position: absolute;
    width: 198px;
    height: 211px;
    top: -225px;
}
.list-item__two::before{
    content: '';
    background-image: url("../img/png/par-2.png");
    position: absolute;
    width: 198px;
    height: 198px;
    top: -225px;
}
.list-item__three::before {
    content: '';
    background-image: url("../img/png/par-3.png");
    position: absolute;
    width: 200px;
    height: 201px;
    top: -225px;
}
.services-list__ordered_list-item p {
    text-align: center;
}
.block-timing {
    border-collapse: collapse;
    border-spacing: 0;
}
.block-timing th {
    background-color: #a3cc40;
    color: #fff;
    height: 75px;
    border: none;
    font-size: 30px;
    font-weight: 900;
    vertical-align: middle;
}
.block-timing td {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    vertical-align: middle;
}
.block-timing tr td:first-child {
    text-align: center;
}
.block-timing tr td:nth-child(n+2) {
    padding-left: 0.5em;
}
.block-timing tr:nth-child(even){
    height: 75px;
    background-color: #373737;
}
.block-timing tr:nth-child(odd){
    height: 75px;
    background-color: #4b4d4f;
}
.par-memo {
    text-align: center;
}
.b-footer {
    background-color: #90d23d;
}
.follow-networks {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 59px;
}
.follow-networks_icon:not(:last-child) {
    margin-right: 15px;
}
.follow-networks_icon a:hover img {
    transform: scale(1.2);
    transition: .3s linear;
}
.b-footer p {
    width: 377px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}
.b-footer p:last-child{
    padding-bottom: 49px;
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .b-wrapper {
        width: 100%;
    }
    header {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    }
    .menu {
        margin-top: 20px;
    }
    .clock__item > .par {
        display: none;
    }

    .clock__item_day.day,
    .clock__item_hour.hour,
    .clock__item_min.min,
    .clock__item_sec.sec,
    .column {
        font-size: 15vw;
        padding: 0;
        margin: 0
    }

    .b-header__pic_bottom {
        display: none;
    }
    .block-form fieldset {
        width: 95%;
        height: 530px;
        padding: 2rem 0 0 0;
        position: relative;
        top: -17em;
        left: 1em;
        margin: 0;
    } 
fieldset h3 {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: inherit;
}
fieldset input {
    width: 95%;
    margin: 8px 9px;
}
    .block-presentation {
        margin: 1rem;
    }

    .block-presentation h1 {
        margin: -10rem auto 0.9rem;
    }

    .block-presentation_para {
        width: 100%;
        padding: 0 0.8em 0;
    }

    .services-list__ordered {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .services-list__ordered_list-item > h2 {
        margin-top: 8em;
    }

    .services-list__ordered_list-item p {
        margin: 0.5em;
    }

    .list-item__one::before {
        top: -6.5em;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }

    .list-item__two::before {
        top: -6.5em;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }

    .list-item__three::before {
        top: -6.5em;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }
.follow-networks {
    padding: 0;
}
}
@media screen and (min-device-width: 480px) and (max-device-width: 965px) {
    .b-wrapper {
        width: 100%;
    }
    .clock__item_day.day,
    .clock__item_hour.hour,
    .clock__item_min.min,
    .clock__item_sec.sec,
    .column {
    font: 400 5rem/7rem "Roboto Slab", serif;
  }
    .clock__item_day,
    .clock__item_hour,
    .clock__item_min,
    .clock__item_sec,
    .column {
        font-size: 2rem;
        margin: 0;
    }
    .par.sec {
        padding-left: 5px; 
    }
    .clock__item>.par {
        font-size: 3vw;
        justify-content: center;
        align-self: center;
        margin: 0;
    }
    .timer-wrap__clock .clock__item:last-child>.par{
        margin: 0;
    }
    .b-header__pic_bottom {
        display: none;
    }
    .block-form fieldset {
        width: 431px;
        height: 530px;
        padding: 33px 29px 21px 31px;
        position: relative;
        top: -17em;
        left: 1em;
        margin: 0 auto;
    }
    .block-presentation h1 {
        margin: -4em auto 0.9em;
    }
    .block-presentation_para {
        width: 100%;
        padding: 0 0.8em 0;
    }
    .services-list__ordered {
        flex-direction: column;
        align-self: center;
        align-items: center;
        padding: 0;
    }
    .services-list__ordered_list-item > h2 {
        margin-top: 8em;
    }
    .services-list__ordered_list-item p {
        margin: 0.5em;
    }
    .list-item__one::before {
        top: -6.5em;
        left: 0;
        right:0;
        bottom: 0;
        margin: 0 auto;
    }
    .list-item__two::before {
        top: -6.5em;
        left: 0;
        right:0;
        bottom: 0;
        margin: 0 auto;
    }
    .list-item__three::before{
        top: -6.5em;
        left: 0;
        right:0;
        bottom: 0;
        margin: 0 auto;
    }
    .block-timing {
        width: 100%;
}
    .block-timing {
        width: 100%;
    }
    .block-timing td {
        font-size: 23px;
    }
    .block-timing tr td:first-child {
        text-align: left;
        padding-left: 0.5em;
    }
    .par-memo {
        margin: 40px 10px 76px;
    }
}
@media only screen and (min-device-width : 966px) and (max-device-width : 1824px){
    .b-header {
        position: relative;
        margin: 0 auto;
    }
    .menu .menu-list {
        margin-right: 15px;
}
    .b-header__pic_bottom {
        position: absolute;
        top: 613px;
    }
    .timer-wrap {
        width: 779px;
        padding: 5px;
        }
    .timer-wrap__clock{
        margin: 0;
        font-size: 30px;
        font-weight: 400;
    }
   .par.day,
    .par.hour,
    .par.min,
    .par.sec {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0 20px 0 0;
    font: 400 1vw "Roboto Slab", serif;
    text-transform: uppercase;
}
    .block-form {
        position: absolute;
        left: 55vw;
        top: -210px;
    }
    .block_form fieldset {
        position: absolute;
        top: -235px;
        right: -75px;
    }
    .block-presentation {
        margin: 1em 20px;
    }
    .block-presentation>p {
        max-width: 30em;
    }
    .services-list__ordered {
        margin: 0 1em;
        padding: 0;
    }
    .services-list__ordered_list-item>h2 {
        margin-top: 392px;
    }
    .list-item__one::before {
        top: -240px;
        left: 3rem;
    }
    .list-item__two::before {
        top: -240px;
        left: 3rem;
    }
    .list-item__three::before {
        top: -240px;
        left: 3rem;
    }
    .block-timing {
        width: 90%;
        margin: 4rem auto 0;
    }
    .par-memo {
        margin: 4rem 3rem;
    }
}
@media only screen and (min-device-width : 1826px) {
    .b-wrapper {
        width: 1000px;
    }
    .timer-wrap {
        height: 300px;
    }
    .clock__item_day.day,
    .clock__item_hour.hour,
    .clock__item_min.min,
    .clock__item_sec.sec,
    .column {
        font-size: 10rem;
    }
    .clock__item {
        font-size: 2rem;
    }
    .par.day,
    .par.hour,
    .par.min,
    .par.sec {
        font-size: 2rem;
        text-transform: uppercase;
    }
    .b-header {
        position: relative;
    }
    .b-header__pic_bottom {
        position: absolute;
        top: 613px;
    }
    .b-main {
        position: relative;
    }
    .block-form fieldset {
        position: absolute;
        top: -10em;
        right: 35rem;
        margin: 0 auto;
    }
    .block-presentation {
        margin: 1em 20px;
    }
    .services-list__ordered_list-item>h2 {
        margin-top: 10em;
    }
    .services-list__ordered_list-item p {
        margin: 0.5em;
    }
    .block-timing {
        width: 100%;
        margin-top: 4rem;
    }
    .par-memo {
        margin: 4rem 1rem;
    }
}